{% extends "task_index.html" %}
{% load humanize %}

{% block content %}
{% if task %}

<br>
<div class="panel panel-{{ task.get_associated_class }}">
    <div class="panel-heading">
        <h1 class="panel-title">{{ task.title }}</h1>
    </div>
    <div class="panel-body">
        {{ task.content }}
    </div>
    <div class="panel-footer">
        This task is {{ task.is_completed|yesno:"c,inc" }}omplete. Completion is scheduled for {{ task.date_end|date:"Y M d, D, H:i" }} ({{ task.date_end|naturaltime }}).
        <br><br>
        <table border="0">
            <thead>
                <tr>
                    <th style="padding-right:100px"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Owner</th>
                    <td>{{ task.owner.user }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>{% for tag in task.tags.all %} <a href="{%url 'tags_detail' tag.id %}" style="background-color: {{ tag.bgc_hex }}; color: {{ tag.color_hex }}" class="badge" data-toggle="tooltip" data-placement="bottom" title="{{ tag.title }}">{{ tag.abbrev }}</a> {% empty %} None. {% endfor %}</td>
                </tr>
            </tbodY>
        </table>
        <br><br>
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary" href="{%url 'task_index' %}" data-toggle="tooltip" data-placement="bottom" title="Task List"><span class="glyphicon glyphicon-th-list"></span></a>
            <a href="{%url 'task_update' task.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-cog"></span></a>
            <a href="{%url 'task_delete' task.id %}" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
</div>
{% else %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title">No such task!</h1>
    </div>
    <div class="panel-body">
        There is no task with this ID number.
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary" href="{%url 'task_index' %}" data-toggle="tooltip" data-placement="bottom" title="Task List"><span class="glyphicon glyphicon-th-list"></span></a>
        </div>
    </div>
</div>
{% endif%}
{% endblock %}