{% extends "task_index.html" %}
{% load humanize %}

{% block navbarleft %}
<li><a href={%url 'task_index' %}><span class="glyphicon glyphicon-check"></span> Task List</a></li>
{% endblock %}

{% block content %}
{% if task %}
<div class="panel panel-{{ task.get_associated_class }}">
    <div class="panel-heading">
        <h1 class="panel-title">{{ task.title }}</h1>
    </div>
    <div class="panel-body">
        {{ task.content }}
    </div>
    <div class="panel-footer">
        This task is {{ task.is_completed|yesno:"c,inc" }}omplete. Completion is scheduled for {{ task.date_end|date:"Y M d, D, H:i" }} ({{ task.date_end|naturaltime }}). <br>
        <a class="btn btn-primary" href="{%url 'task_index' %}"><span class="glyphicon glyphicon-th-list"></span> Return to Index</a>
    </div>
</div>
{% else %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title">No such task!</h1>
    </div>
    <div class="panel-body">
        There is no task with this ID number.
    </div>
    <div class="panel-footer">
        Return to <a href="{%url 'task_index' %}">Task Index</a>.
    </div>
</div>
{% endif%}
{% endblock %}