{% extends "base.html" %}

{% block tabtitle %}Reminders{% endblock %}

{% block subdomtitle %}
Reminders
{% endblock %}

{% block brandlink %}
{% url 'task_index' %}
{% endblock %}

{% block navbarleft %}
<li class="active"><a href="{%url 'task_index' %}"><span class="glyphicon glyphicon-check"></span> Task List</a></li>
<li><a href="{%url 'tags_index' %}"><span class="glyphicon glyphicon-tags"></span> Tags List</a></li>
{% endblock %}

{% block navbarright %}
<li><a href="{%url 'main_index' %}"><span class="glyphicon glyphicon-home"></span> Main Site</a></li>
<li><a>{% now "Y M d, D, H:i" %}</a></li>
{% endblock %}

{% block content %}
{% load humanize %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Task Index</h1>
    </div>
    <div class="panel-body">

        <div class="btn-group">
            <a href="{%url 'task_create' %}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Create new tasks"><span class="glyphicon glyphicon-plus"></span></a>
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target=".taskoptions" aria-expanded="false" aria-controls="taskoptions"><span class="glyphicon glyphicon-option-horizontal" data-toggle="tooltip" data-placement="bottom" title="Toggle showing task options"></span></button>
        </div>

        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Task</span></a></th>
                <th>Target Completion Date</th>
                <th>To Completion</th>
                <th>Tags</th>
                <th class="taskoptions collapse">Options</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
            {% for task in object_list %}
            <!-- Individual rows -->
            <tr class="{{ task.get_associated_class }}">
                <td><a href="{%url 'task_detail' task.id %}">{{ task.title }}</a></td>
                <td>{{ task.date_end|date:"Y M d, D, H:i" }}</td>
                <td><span data-toggle="tooltip" data-placement="left" title="{{ task.get_associated_advice }}">{{ task.date_end|naturaltime|capfirst }}</span></td>
                <td>
                    {% if task.tags.all|length > 3 %}
                        {% for tag in task.tags.all|slice:":3" %}
                    <a href="{%url 'tags_detail' tag.id %}" style="background-color:{{ tag.bgc_hex }}; color:{{ tag.color_hex }}" class="badge">{{ tag }}</a>
                        {% endfor %}
                        <span data-toggle="tooltip" data-placement="bottom" title="Showing 3 out of {{ task.tags.all|length }}. Click the task name to list the other tags.">(+{{ task.tags.all|length|add:"-3" }})</span>
                    {% elif task.tags.all|length > 0 %}
                        {% for tag in task.tags.all %}
                        <a href="{%url 'tags_detail' tag.id %}" style="background-color:{{ tag.bgc_hex }}; color:{{ tag.color_hex }}" class="badge">{{ tag }}</a>
                        {% endfor %}
                    {% else %}
                        None.
                    {% endif %}
                </td>
                <td class="taskoptions collapse"><div class="btn-group">
                    <a href="{%url 'task_update' task.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-asterisk"></span></a>
                    <a href="{%url 'task_delete' task.id %}" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                </div></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
            {% if not object_list %}
            <!-- No tasks found -->
            <tfoot>
                <tr>
                    <td colspan="5">There are no tasks.</td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
    <div class="panel-footer">
        There {{ object_list|length|pluralize:"is,are" }} {{ object_list|length|apnumber }} task{{ object_list|length|pluralize }} in this list.
    </div>
</div>

{% endblock %}