@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans", Arial, sans-serif;
}

.content-root {
    padding: 0px 20px 40px;
}

.navbar-container {
    padding: 0px 20px 0px;
}

.nonsymbolic {
    list-style-type: none;
}